body {
    font-family: montserrat;
    color: black;
    font-size: 16px;
}

h1 {
    font-family: Inter Tight;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
}

h2 {
    font-family: montserrat;
    color: black;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: montserrat;
    color: black;
    font-size: 18px;
    margin-top: 35px;
    text-align: center;
}

address {
    font-style: normal;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
    border: 2px solid black;
}

#gambar {
    display: block;
    margin: 0 auto;
}

a {
    text-align: center;
}

#nextpage:link, #nextpage:visited
    {
        color: white;
        background-color: darkkhaki;
        text-decoration: none;
        text-align: center;
        padding: 20px;
        display: inline-block;
        border-radius: 20px;
    }

#nextpage:hover, #nextpage:active
    {
        color:yellow;
        background-color: black;

    }
